@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: 'Roboto';
    margin: 0 10%;
    font-weight: 400;
    text-align: center;
}

section{
   border: 2px rgb(143, 143, 143) solid;
   margin-bottom: 10px;
   display: block;
}

.colors{
    display: inline-block;
    width: 31.5%;
    height: auto;
    color: whitesmoke;
    margin-bottom: 2%;
    margin: 0% 0.5% 1%;
    
}
#blue {
    background-color: #87F6FF;
    color: black;
}
#Aquamarine {
    background-color: aquamarine;
    color: black;
}
#dimgray {
    background-color: dimgray;
}
.fonts div{
    display: inline-block;
    width: 30%;
    text-align: left;
    margin: 0% 1% 2%;
    font-size: medium;
}

.fonts div h1{
    text-decoration: underline;
    font-weight: 400;
}

.normalfont{
    font-weight: 400;
}
.italic{
    font-style: italic
}
.bold{
    font-weight: bold;
}
.fontblock1{
    font-family: 'Roboto';
}
.fontblock2{
    font-family: 'OpenSans';
}
.fontblock3{
    font-family: 'Rubik';
}
.fontblock4{
    font-family: 'Poppins';
}
.textstyles{
    text-align: left;
}

.textstyles h1{
    font-size: 2em;
}

.textstyles *{
    margin-left: 2%;
}